<div class="main">
  <% if user_signed_in? %>
  <%= link_to "Post a rant", new_rant_path,  class:"btn btn-primary"%>
  <%= link_to "Latest Rants", rants_path,  class:"btn btn-primary"%>
  <% end %>
<div class="jumbotron">

  </div>
</div>
